AssignmentTemplates/Assignment1/.DS_Store
AssignmentTemplates/Assignment1/code/.DS_Store
AssignmentTemplates/Assignment1/code/.DS_Store
AssignmentTemplates/Assignment1/code/src/.DS_Store
AssignmentTemplates/Assignment1/code/.DS_Store
Lab_capsules/.DS_Store
Lab_capsules/capsule2/code/.DS_Store
Lab_capsules/capsule2/code/build/.DS_Store
AssignmentTemplates/Assignment1/code/.DS_Store
AssignmentTemplates/Assignment1/code/.DS_Store
/COMP371_RaytracerBase/code/build
COMP371_RaytracerBase/code/.DS_Store
/COMP371_RaytracerBase/code/build
/COMP371_RaytracerBase/code/build/CMakeFiles
